<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="TrainingEntitiesConnectionString" connectionString="metadata=res://*/DAL.TrainingModel.csdl|res://*/DAL.TrainingModel.ssdl|res://*/DAL.TrainingModel.msl;provider=System.Data.SqlClient;provider connection string='data source=LAPTOP-IG3PIKP2;initial catalog=&quot;1st Database&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" /></connectionStrings></configuration>