USE [master]
GO
/****** Object:  Database [1st Database]    Script Date: 07-02-2022 11:14:40 ******/
CREATE DATABASE [1st Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'1st Database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\1st Database.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'1st Database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\1st Database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [1st Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [1st Database]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_GetEmail]    Script Date: 07-02-2022 11:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_GetEmail]
(
	@Fn varchar(100),
	@Ln varchar (100)
)
RETURNS varchar (100)
AS
BEGIN
declare @Email varchar(10) = '@athora.com'
	declare @splitter varchar(10) = '-'
	RETURN (@Fn + @splitter +@Ln + @Email)

END
GO
/****** Object:  Table [dbo].[Student1]    Script Date: 07-02-2022 11:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student1](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[First_name] [nvarchar](20) NULL,
	[Last_name] [varchar](20) NULL,
	[Roll_number] [int] NULL,
	[Marks] [decimal](10, 2) NULL,
	[Date_of_Birth] [datetime] NULL,
	[BranchId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_GetStudent]    Script Date: 07-02-2022 11:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Fn_GetStudent]
(	
	)
RETURNS TABLE 
AS
RETURN 
(
	SELECT * from [dbo].[Student1] 
)
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 07-02-2022 11:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChosenAnswer]    Script Date: 07-02-2022 11:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChosenAnswer](
	[Ansid] [int] IDENTITY(1,1) NOT NULL,
	[Answer] [nvarchar](max) NULL,
	[Qid] [int] NULL,
	[Userid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ansid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Duplicate]    Script Date: 07-02-2022 11:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Duplicate](
	[id] [int] NULL,
	[FirstName] [nvarchar](50) NULL,
	[Department] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 07-02-2022 11:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ID] [int] NULL,
	[EmpName] [varchar](50) NULL,
	[Country_code] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entry]    Script Date: 07-02-2022 11:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entry](
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entry2]    Script Date: 07-02-2022 11:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entry2](
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entry3]    Script Date: 07-02-2022 11:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entry3](
	[series_reference] [nvarchar](50) NULL,
	[units] [nvarchar](50) NULL,
	[subjects] [nvarchar](50) NULL,
	[groups] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OnlineExam]    Script Date: 07-02-2022 11:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OnlineExam](
	[Qid] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](200) NULL,
	[Option1] [nvarchar](200) NULL,
	[Option2] [nvarchar](200) NULL,
	[Option3] [nvarchar](200) NULL,
	[Option4] [nvarchar](200) NULL,
	[CorrectAns] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Qid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 07-02-2022 11:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[ID] [int] NULL,
	[Name] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[Country_code] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 07-02-2022 11:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productId] [int] NULL,
	[productName] [varchar](50) NULL,
	[productPrice] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDescription]    Script Date: 07-02-2022 11:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDescription](
	[productId] [int] NULL,
	[productColor] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 07-02-2022 11:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[First_name] [nvarchar](20) NULL,
	[Last_name] [varchar](20) NULL,
	[Roll_number] [int] NULL,
	[Marks] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 07-02-2022 11:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[ID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Address] [varchar](200) NOT NULL,
	[PhoneNumber] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table2]    Script Date: 07-02-2022 11:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table2](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[countryCode] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Table2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table3]    Script Date: 07-02-2022 11:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table3](
	[id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[countryCode] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usertable]    Script Date: 07-02-2022 11:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usertable](
	[Userid] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [char](100) NULL,
	[LastName] [char](100) NULL,
	[Email] [varchar](100) NULL,
	[Marks] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Branch] ON 

INSERT [dbo].[Branch] ([Id], [Name]) VALUES (1, N'CSE')
INSERT [dbo].[Branch] ([Id], [Name]) VALUES (2, N'IT')
INSERT [dbo].[Branch] ([Id], [Name]) VALUES (3, N'EEE')
SET IDENTITY_INSERT [dbo].[Branch] OFF
GO
SET IDENTITY_INSERT [dbo].[ChosenAnswer] ON 

INSERT [dbo].[ChosenAnswer] ([Ansid], [Answer], [Qid], [Userid]) VALUES (1, N'1', 1, NULL)
INSERT [dbo].[ChosenAnswer] ([Ansid], [Answer], [Qid], [Userid]) VALUES (2, N'4', 2, NULL)
INSERT [dbo].[ChosenAnswer] ([Ansid], [Answer], [Qid], [Userid]) VALUES (3, N'4', 3, NULL)
SET IDENTITY_INSERT [dbo].[ChosenAnswer] OFF
GO
INSERT [dbo].[Duplicate] ([id], [FirstName], [Department]) VALUES (1, N'A', N'C')
INSERT [dbo].[Duplicate] ([id], [FirstName], [Department]) VALUES (2, N'B', N'C')
INSERT [dbo].[Duplicate] ([id], [FirstName], [Department]) VALUES (3, N'C', N'G')
GO
INSERT [dbo].[Employee] ([ID], [EmpName], [Country_code]) VALUES (1, N'A', 12)
INSERT [dbo].[Employee] ([ID], [EmpName], [Country_code]) VALUES (2, N'B', 23)
INSERT [dbo].[Employee] ([ID], [EmpName], [Country_code]) VALUES (3, N'C', 24)
GO
INSERT [dbo].[Entry3] ([series_reference], [units], [subjects], [groups]) VALUES (N'series_reference', N'units', N'subjects', N'groups')
INSERT [dbo].[Entry3] ([series_reference], [units], [subjects], [groups]) VALUES (N'
A', N'B', N'C', N'D')
INSERT [dbo].[Entry3] ([series_reference], [units], [subjects], [groups]) VALUES (N'
E', N'F', N'G', N'H')
GO
SET IDENTITY_INSERT [dbo].[OnlineExam] ON 

INSERT [dbo].[OnlineExam] ([Qid], [Question], [Option1], [Option2], [Option3], [Option4], [CorrectAns]) VALUES (1, N'How many continents are there?', N'1', N'2', N'8', N'7', N'7')
INSERT [dbo].[OnlineExam] ([Qid], [Question], [Option1], [Option2], [Option3], [Option4], [CorrectAns]) VALUES (2, N'How many limbs do cats have?', N'1', N'2', N'3', N'4', N'4')
INSERT [dbo].[OnlineExam] ([Qid], [Question], [Option1], [Option2], [Option3], [Option4], [CorrectAns]) VALUES (3, N'How many limbs do dogs have?', N'1', N'2', N'3', N'4', N'4')
SET IDENTITY_INSERT [dbo].[OnlineExam] OFF
GO
INSERT [dbo].[People] ([ID], [Name], [Address], [Country], [Country_code]) VALUES (1, N'AG', N'jhgf', N'India', 12)
INSERT [dbo].[People] ([ID], [Name], [Address], [Country], [Country_code]) VALUES (2, N'BG', N'dfgh', N'USA', 23)
INSERT [dbo].[People] ([ID], [Name], [Address], [Country], [Country_code]) VALUES (2, N'BG', N'dfgh', N'Austria', 23)
GO
INSERT [dbo].[Product] ([productId], [productName], [productPrice]) VALUES (101, N'CarI', 1000)
INSERT [dbo].[Product] ([productId], [productName], [productPrice]) VALUES (102, N'CarII', 2000)
INSERT [dbo].[Product] ([productId], [productName], [productPrice]) VALUES (103, N'CarIII', 3000)
GO
INSERT [dbo].[ProductDescription] ([productId], [productColor]) VALUES (101, N'Red')
INSERT [dbo].[ProductDescription] ([productId], [productColor]) VALUES (102, N'Blue')
INSERT [dbo].[ProductDescription] ([productId], [productColor]) VALUES (103, N'White')
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([Id], [First_name], [Last_name], [Roll_number], [Marks]) VALUES (1, N'A', N'B', 1, CAST(100.12 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[Student1] ON 

INSERT [dbo].[Student1] ([Id], [First_name], [Last_name], [Roll_number], [Marks], [Date_of_Birth], [BranchId]) VALUES (1, N'Aheli', N'Ghosh', 1, CAST(100.12 AS Decimal(10, 2)), CAST(N'1999-08-18T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Student1] ([Id], [First_name], [Last_name], [Roll_number], [Marks], [Date_of_Birth], [BranchId]) VALUES (2, N'Sangbida', N'Roy', 2, CAST(90.13 AS Decimal(10, 2)), CAST(N'1998-01-01T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Student1] ([Id], [First_name], [Last_name], [Roll_number], [Marks], [Date_of_Birth], [BranchId]) VALUES (3, N'Mayurakshi', N'Paul', 3, CAST(88.14 AS Decimal(10, 2)), CAST(N'1999-03-03T00:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Student1] OFF
GO
SET IDENTITY_INSERT [dbo].[Usertable] ON 

INSERT [dbo].[Usertable] ([Userid], [FirstName], [LastName], [Email], [Marks]) VALUES (1, N'Aheli                                                                                               ', N'Ghosh                                                                                               ', N'188aheli@gmail.com', NULL)
INSERT [dbo].[Usertable] ([Userid], [FirstName], [LastName], [Email], [Marks]) VALUES (2, N'Sangbida                                                                                            ', N'Roy                                                                                                 ', N'188aheli@gmail.com', NULL)
INSERT [dbo].[Usertable] ([Userid], [FirstName], [LastName], [Email], [Marks]) VALUES (3, N'Mayurakshi                                                                                          ', N'Paul                                                                                                ', N'188aheli@gmail.com', NULL)
SET IDENTITY_INSERT [dbo].[Usertable] OFF
GO
ALTER TABLE [dbo].[ChosenAnswer]  WITH CHECK ADD FOREIGN KEY([Userid])
REFERENCES [dbo].[Usertable] ([Userid])
GO
ALTER TABLE [dbo].[ChosenAnswer]  WITH CHECK ADD FOREIGN KEY([Qid])
REFERENCES [dbo].[OnlineExam] ([Qid])
GO
ALTER TABLE [dbo].[Student1]  WITH CHECK ADD FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branch] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[CreateStudent]    Script Date: 07-02-2022 11:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--stored procedure--
create procedure [dbo].[CreateStudent](
@firstname nvarchar (50),
@lastname varchar (50),
@rollno int,
@marks decimal(18,2))
as
begin

insert Student1(First_name,Last_name,Roll_number,Marks)
values(@firstname,@lastname,@rollno,@marks);
select SCOPE_IDENTITY() Id;
end

Select * from Student1;
GO
/****** Object:  StoredProcedure [dbo].[GetName]    Script Date: 07-02-2022 11:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetName] (@name varchar(50))
AS
BEGIN 
	Select * from  Product Where ProductName=@name;
	END
exec GetName @name='CarI';
GO
USE [master]
GO
